.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.73);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.modal__content {
    padding: 30px;
    border-radius: 20px;
    background: #FFFFFF;
    width: 50vw;
    margin: 0 auto;
}

.modal__delete__button {
    color: black;
    font-size: 50px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
}

.modal__title {
    color: rgba(0, 0, 0, 0.80);
    font-size: 35px;
    font-family: 'Pompiere-Regular';
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.modal__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.modal__image {
    width: 35%;
    border-radius: 15px;
    margin-right: 30px;
}

.modal__text {
    color: rgba(0, 0, 0, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.modal__cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__product__cost {
    color: rgba(0, 0, 0, 0.80);
    font-size: 27px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
}

.modal__product__basket {
    width: 40px;
    cursor: pointer;
}

.filter__price {
    color: rgba(0, 0, 0, 0.80);
    font-size: 29px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
}

.multi-range-slider {
    font-family: 'Pompiere-Regular';
    font-size: 24px;
    margin-bottom: 24px;
}

.cart__product {
    margin-bottom: 50px;
}

.cart__product__image {
    width: 20%;
    height: 200px;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cart__product__description {
    display: flex;
    justify-content: space-between;
    background: rgba(56, 55, 55, 0.8);
    width: 17.4%;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cart__product__cost {
    color: white;
    font-size: 19px;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    line-height: 30px;
}

.cart__button__delete {
    color: white;
    font-size: 50px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
}

.cart__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__summary__cost {
    color: rgba(0, 0, 0, 0.80);
    font-size: 28px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
}

.cart__payment {
    width: 40px;
    cursor: pointer;
}

.checkout__content {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.checkout__credit__card{
    width: 55%;
}

.checkout__form__group {
    margin-bottom: 22px;
}

.checkout__form__control {
    display: block;
    width: 85%;
    padding: 15px 10px 15px 10px;
    font-size: 22px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.checkout__form__row {
    display: flex;
}

.checkout__form__data {
    display: block;
    width: 80%;
    padding: 15px 10px 15px 10px;
    font-size: 22px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.checkout__form__cvc {
    display: block;
    width: 70%;
    padding: 15px 10px 15px 10px;
    font-size: 22px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.checkout__address {
    color: rgba(0, 0, 0, 0.80);
    font-size: 30px;
    font-family: 'Pompiere-Regular';
    font-weight: 500;
    line-height: 30px;
    margin: 0 0 30px 60px;
}

.checkout__address__text {
    margin: 0 0 50px 60px;
    padding: 15px 10px 15px 10px;
    font-size: 22px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 64%;
}

.checkout__confirm {
    background-color: #000000CC;
    color: rgba(255, 255, 255, 0.80);
    font-size: 33px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    padding: 8px 22px 8px 24px;
    width: 45%;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .modal {
        margin: 5px;
    }
    
    .modal__content {
        padding: 20px;
        width: 70vw;
    }

    .cart__product__image {
        width: 28%;
    }

    .cart__product__description {
        width: 24.3%;
    }

    .checkout__content {
        margin: 0 0 10px 0;
    }

    .checkout__credit__card {
        margin-right: 15px;
    }

    .checkout__form__group {
        margin-bottom: 22px;
    }

    .checkout__address {
        margin: 0 0 20px 20px;
    }

    .checkout__address__text {
        margin: 0 0 25px 60px;
    }
}




