.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    position: fixed;
    background: #000000;
    width: 100%;
}

.header__container {
    display: flex;
}

.header__gramopghone {
    width: 50px;
    height: 50px;
    align-items: center;
    padding-right: 10px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__text {
    margin-top: 24px;
}

.header__title {
    color: white;
    font-size: 22px;
    font-family: 'Viga-Regular';
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 6px;
}

.header__text {
    color: rgba(255, 255, 255, 0.50);
    font-size: 15px;
    font-family: 'Viga-Regular';
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16px;
    margin-bottom: 20px;
}

.header__menu {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.header__link {
    padding-left: 22px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    line-height: 30px;
}

.header__icons {
    display: flex;
    margin-left: 50px;
}

.header__icon {
    padding-left: 30px;
    width: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .header {
        padding: 10px;
    }
    
    .header__gramopghone {
        width: 60px;
        height: 60px;
    }

    .header__logo {
        display: flex;
        margin-left: 40px;
    }

    .header__menu {
        flex-wrap: wrap;
        margin-left: 30px;
        width: 70%;
    }

    .header__icons {
        flex-wrap: wrap;
        margin: 10px;
    }

    .header__icon {
        width: 20px;
        cursor: pointer;
    }
}

@media (max-width: 320px) {

    .header {
        padding: 20px 8px 20px 8px;
    }

    .header__logo {
        margin-left: 8px;
    }

    .header__menu {
        flex-direction: column;
        margin-left: 10px;
        width: 60%;
    }
}