.register__photo {
    margin-bottom: 25px;
}

.register__photo__user {
    width: 20%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.register__input {
    width: 40%;
    margin: 0 auto;
}

.register__username {
    display: flex;
}

.register__username__symbol {
    background-color: #060606;
    color: rgba(255, 255, 255, 0.80);
    font-size: 33px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-top: 11px;
    width: 80px;
    height: 52px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.register__input__username {
    color: rgba(0, 0, 0, 0.75);
    font-size: 28px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.register__password {
    display: flex;
}

.register__password__symbol {
    background-color: #060606;
    color: rgba(255, 255, 255, 0.80);
    font-size: 33px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-top: 26px;
    width: 80px;
    height: 37px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.register__input__password {
    color: rgba(0, 0, 0, 0.75);
    font-size: 26px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.register__remember {
    margin-bottom: 15px;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin-left: 40px;
    outline: none;
    cursor: pointer;
    border: 1px solid #050505;
}

.register__remember__text {
    font-size: 27px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-left: 16px;
}

.register__complete {
    background-color: #000000CC;
    color: rgba(255, 255, 255, 0.80);
    font-size: 33px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    padding: 8px 22px 8px 24px;
    width: 45%;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}


