.profile__page {
    background-color: #141414;
    padding: 50px;
}

.profile__page__people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile__page__image {
    width: 15%;
    border-radius: 50px;
}

.profile__fullname__job {
    width: 65%;
}

.profile__page__fullname {
    color: rgba(255, 255, 255, 0.80);
    font-size: 40px;
    font-family: 'Viga-Regular';
    font-weight: 400;
    line-height: 30px;
}

.profile__page__fullname::after {
    display: block;
    content: "";
    height: 1px;
    background:rgba(255, 255, 255, 0.80);
    width: 45%;
    margin: 10px 0 20px 0;
}

.profile__page__job {
    color: rgba(255, 255, 255, 0.80);
    font-size: 25px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
}

.profile__page__edit {
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.80);
    font-size: 22px;
    font-family: 'Pompiere-Regular';
    font-weight: 600;
    line-height: 30px;
    border: none;
    cursor: pointer;
}

.profile__details__info {
    display: flex;
    margin-bottom: 30px;
}

.profile__details__tasks {
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-radius: 20px;
    width: 93%;
    margin-bottom: 25px;
}

.profile__task__title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 24px;
    font-family: 'Viga-Regular';
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.80);
    padding: 10px;
}

.profile__details__language {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0 5px 10px;
}

.profile__english__update {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    padding: 5px 0 10px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.80);
}

.profile__position__title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0 5px 10px;
}

.profile__details__position {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    padding: 5px 0 10px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.80);
}

.profile__details__salary {
    color: rgba(255, 255, 255, 0.80);
    font-size: 21px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0 5px 10px;
}

.profile__task__spend {
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.80);
    font-size: 22px;
    font-family: 'Pompiere-Regular';
    font-weight: 600;
    line-height: 30px;
    width: 50%;
    margin: 25px 0 20px 70px;
    border: none;
    cursor: pointer;
}

.profile__details__infomation {
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 298.1%;
    height: 180px;
}

.profile__information__title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 24px;
    font-family: 'Viga-Regular';
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.profile__information__points {
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.profile__information__point {
    text-align: center;
    margin: 0 5px 0 5px;
}

.profile__english__title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.profile__english__title::after {
    display: block;
    content: "";
    height: 1px;
    width: 27px;
    background: rgba(255, 255, 255, 0.80);
    transform: rotate(90deg);
    margin: 0 auto;
    margin-top: 20px;
}

.profile__english__level {
    color: rgba(255, 255, 255, 0.80);
    font-size: 21px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.profile__birthday__title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.profile__birthday__title::after {
    display: block;
    content: "";
    height: 1px;
    width: 27px;
    background: rgba(255, 255, 255, 0.80);
    transform: rotate(90deg);
    margin: 0 auto;
    margin-top: 20px;
}

.profile__birthday__date {
    color: rgba(255, 255, 255, 0.80);
    font-size: 21px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.profile__group__title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.profile__group__title::after {
    display: block;
    content: "";
    height: 1px;
    width: 27px;
    background: rgba(255, 255, 255, 0.80);
    transform: rotate(90deg);
    margin: 0 auto;
    margin-top: 20px;
}

.profile__work__group {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.profile__room__title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.profile__room__title::after {
    display: block;
    content: "";
    height: 1px;
    width: 27px;
    background: rgba(255, 255, 255, 0.80);
    transform: rotate(90deg);
    margin: 0 auto;
    margin-top: 20px;
}

.profile__room__number {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.profile__details__skills {
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-radius: 20px;
    padding: 20px;
    width: 292.3%;
}

.profile__skill__title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 24px;
    font-family: 'Viga-Regular';
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.profile__details__skill {
    display: flex;
    align-items: center;
    margin: 0 0 30px 10px;
}

.profile__javascript__icon {
    border-radius: 5px;
}

.profile__javascript__text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-left: 10px;
}

.profile__react__text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
    margin-left: 10px;
}

.profile__edit__profile {
    padding: 10px 30px 10px 30px;
    margin: 50px 0 0 188px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.80);
    font-size: 22px;
    font-family: 'Pompiere-Regular';
    font-weight: 600;
    line-height: 30px;
    width: 200%;
    border: none;
    cursor: pointer;
}

.profile__details__xobbies {
    display: flex;
}

.profile__details__xobii {
    width: 78px;
}

.profile__xobbi__text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 23px;
    font-family: 'Pompiere-Regular';
    font-weight: 400;
    line-height: 30px;
}